@import "../../../assets/scss/shared";

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  animation: fade .3s;
  background-color: $layout-color;
}

.app__head {
  padding: $default-offset;
  border-bottom: 2px solid;
}

.app__body {
  display: flex;
  flex: auto;
  overflow: hidden;
}
